body {
    background-image: url("images/background.webp");
    background-repeat: no-repeat;
    background-size: 1280px;
}
.box {
    width: 350px;
    height: 350px;
    margin-top: 150px;
    margin-right: 420px;
    margin-left: 420px;
    padding: 25px;
    border: 5px solid rgb(0, 195, 255);
    background-color: aliceblue;
  }